<header class="site-header">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
            <p class="ml-3 text-xl">La Fonda del Bicho</p>
        </a>
        <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
            <a *ngIf="role === 'Administrador'" routerLink="/employees" class="nav-link">Empleados</a>
            <a routerLink="/menu" class="nav-link">Menú</a>
            <a *ngIf="role === 'Administrador' || role === 'Empleado'" routerLink="/commands" class="nav-link">Órdenes</a>
            <a *ngIf="role === 'Administrador' || role === 'Empleado'" routerLink="/mesa" class="nav-link">Mesas</a>
        </nav>
        <button *ngIf="role === 'Administrador' || role === 'Empleado'" (click)="logout()" class="logout-button ml-4">Cerrar Sesión</button>
        <div class="user flex items-center">
            <p class="text-white mr-2">{{ userName }}</p>
            <img [src]="photo" alt="Foto de perfil" class="rounded-full h-8 w-8">
        </div>
    </div>
</header>