<footer class="text-gray-600 body-font">
    <div class="container px-5 py-8 mx-auto flex items-center sm:flex-col flex-col">
        <a class="flex title-font-footer font-medium items-center md:justify-start justify-center text-gray-900">
            <span class="ml-3 text-xl">2024 La Fonda del Bicho</span>
        </a>
        <p style="margin-left: 10px;" class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4 sm:text-center"> - © Todos los derechos reservados - 
        </p>
        <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
        </span>
    </div>
</footer>