<section class="modal">
    <div class="modal-header">
        <button (click)="onClose()" class="close-button">
            X
        </button>
    </div>

    <div class="modal-content">
        <div class="input-group">
            <label for="userName">Usuario:</label>
            <input id="userName" class="modal-input" [(ngModel)]="userName" placeholder="@Usuario" disabled>
        </div>              

        <div class="input-group">
            <label for="email">Correo:</label>
            <input id="email" class="modal-input" [(ngModel)]="email" placeholder="correo@prueba.com">
        </div>

        <div class="input-group">
            <label for="wShift">Turno:</label>
            <select id="wShift" class="modal-input" [(ngModel)]="wShift">
                <option value="Matutino">Matutino</option>
                <option value="Vespertino">Vespertino</option>
                <option value="Tiempo completo">Tiempo completo</option>
            </select>
        </div>
        

        <div class="input-group">
            <label for="photo">Foto:</label>
            <input id="photo" class="modal-input" [(ngModel)]="photo" placeholder="Foto">
        </div>
   
        <div class="text-center">
            <button (click)="updateUser()" class="update-button">
                Actualizar
            </button>
        </div>
    </div>
</section>
