<app-header></app-header>

<section class="team-section">
    <div class="container team-container">
        <div class="team-header text-center mb-20">
            <h1 class="tittle">Ordenes</h1>
            <br>
            <button class="Agregarorden"  (click)="registerOrder()">
                Agregar orden
            </button>
            <br>
            <br>
            <button class="OrdenarPorFecha" (click)="sortOrdersByDateTime()">Ordenar por Fecha</button>
        </div>
        <div class="flex flex-wrap -m-2">
            @for (order of orders; track order._id) {
                <div class="team-member p-2 lg:w-1/3 md:w-1/2 w-full">
                    <div class="team-card h-full flex items-center border-gray-200 border p-4 rounded-lg">
                        <div class="team-details flex-grow">
                            <h2 class="team-name text-gray-900 title-font font-medium">No. de orden: {{ order._id }}</h2>
                            <h3 class="team-email text-gray-900 title-font font-medium">Mesa: {{ order.numero_mesa }}</h3>
                            <h3 class="team-email text-gray-900 title-font font-medium">Mesero: {{ order.user_mesero }}</h3>
                            
                            <p class="team-position text-gray-500">Orden:</p>
                            <div *ngFor="let item of order.orden" class="team-position text-gray-500">{{ item.nombre_producto }} - Cantidad: {{ item.cantidad }} - Precio unitario: ${{ item.precio_unitario }}</div>
                            <h3 class="team-wShift text-gray-900 title-font font-medium">Total: ${{ order.total_orden }}</h3>
                            <h3 class="team-wShift text-gray-900 title-font font-medium">Estatus: {{ order.status }}</h3>
                            <h3 class="team-wShift text-gray-900 title-font font-medium">Fecha y hora: {{ order.fecha|date : 'dd/MM/yyyy HH:mm' }}</h3>
                            <div class="crud-buttons flex-grow">
                               <button class="bg-blue-500 text-white px-4 py-2 rounded mr-4" (click)="updateOrder(order)">
                                    Editar
                                </button>
                                <button class="bg-red-500 text-white px-4 py-2 rounded" (click)="deleteOrder(order)">
                                    Eliminar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<app-footer></app-footer>