
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin-bottom: 50px;
}

.tittle{
    text-align: center;
}

.Agregarorden{
    text-align: center;
    background-color: #22c55e; 
    border: none;
    padding: 8px 16px; 
    font-size: 12px; 
    color: white; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.OrdenarPorFecha{
    text-align: center;
    background-color: lightgray; 
    border: none;
    padding: 8px 16px; 
    font-size: 12px; 
    color: black; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}


/* Estilos adicionales para la sección del equipo */
.team-title {
    color: #222;
    font-size: 20px;
    font-style: italic;
    margin-left: 85px;
}

.team-section {
    text-align: center;
    color: #333;
}

.team-container {
    padding: 40px 0;
}

.team-header {
    margin-bottom: 20px;
}

.team-member {
    width: 100%;
    padding: 10px;
}

.team-card {
    height: 100%;
    transition: transform 0.3s ease;
}

.team-card:hover {
    transform: scale(1.05);
}

.team-avatar {
    width: 80px;
    height: 80px;
}

.team-details {
    display: flex;
    flex-direction: column;
}

.team-name {
    color: #222;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.team-email {
    color: #222;
    font-size: 14px;
    margin-bottom: 8px;
}

.team-wShift {
    color: #222;
    font-size: 14px;
    margin-bottom: 8px;
    font-style: italic;
}

.team-position {
    font-size: 14px;
    color: #555;
}

.crud-buttons {
    display: flex;
}

.crud-buttons p:first-child {
    color: #FFD700;
}

.crud-buttons p:last-child {
    color: red;
}

.bg-green-500{
    margin-left: 86px;
}

.orders{
    text-align: center;
    width: 60%;
    align-items: center;
    margin-left: 20%;
}