/* Estilo para la modal */
.modal {
    max-width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-y: auto;
}

/* Estilo para el encabezado de la modal */
.modal-header {
    text-align: right;
}

/* Estilo para el botón de cerrar */
.close-button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

/* Estilo para los grupos de entrada de texto */
.input-group{
    margin-top: 15px;
    margin-bottom: 15px;

}

.input-group_b{
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;

}
/* Estilo para las entradas de texto */
.modal-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}

/* Estilo para el botón de actualizar */
.update-button {
    background-color: #3490dc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilo para order */
.order {
    padding: 5px;
}

.add-button{
    background-color: #3490dc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.delete-button{
    background-color: red;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;

}