<app-header></app-header>

<div class="floating-button" (click)="registerUser()">+</div>
<section class="team-section flex items-center justify-center h-full">
    <div class="container team-container">
        <div class="team-header text-center">
            <h1 class="team-title sm:text-3xl text-2xl font-medium text-gray-900"> Nuestro Equipo</h1>
        </div>
        <div class="flex flex-wrap -m-2">
            @for (user of users; track user._id) {
                <div class="team-member p-2 lg:w-1/3 md:w-1/2 w-full">
                    <div class="team-card h-full flex items-center border-gray-200 border p-4 rounded-lg border border-solid border-red-500">
                        <div class="box flex flex-col items-center text-center">
                            <img alt="team" class="team-avatar w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mb-2" 
                                src="{{ user.photo || 'https://dummyimage.com/80x80' }}">
                            <div class="crud-buttons flex-grow justify-around w-full"> <!-- Añadido 'justify-around' para distribuir uniformemente -->
                                <button class="custom-green-color text-white px-4 py-2 rounded w-full" (click)="updateUser(user)">
                                    <fa-icon [icon]="faPencilAlt"></fa-icon>
                                </button>
                                <button class="custom-red-color text-white px-4 py-2 rounded w-full" (click)="deleteUser(user)">
                                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                                </button>
                            </div>
                        </div>
                        <div class="team-details flex-grow">
                            <h2 class="team-name text-gray-900 title-font font-medium">{{ user.userName }}</h2>
                            <h3 class="team-email text-gray-900 title-font font-medium">{{ user.email }}</h3>
                            <h3 class="team-wShift text-gray-900 title-font font-medium">{{ user.wShift }}</h3>
                            <p class="team-position text-gray-500">{{ user.position }}</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<app-footer></app-footer>
