
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-bottom: 50px;
    font-family: 'Arial', sans-serif;
}


/** Tarjetas Restaurante **/

.wrap {
  max-width: 1200px;
  margin: 0 auto;
}


.column-2.carta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}

.plato-carta {
  display: flex;
  align-items: center;
  border: 1px solid #CD212A;
  border-radius: 6px;
  background-color: #008c45;
  transition: transform 0.3s ease; /* Agregamos una transición */
  color: #ffffff;
  cursor: pointer;
}

/* Añadimos el estilo de zoom al pasar el mouse */
.plato-carta:hover {
  transform: scale(1.05); /* Puedes ajustar el valor según sea necesario */
}

.img-plato-carta {
  display: flex;
  flex-basis: 25%;
  justify-content: center;
}

.img-plato-carta img {
  max-width: 100px;
  max-height: 75px;
}

.title-plato-carta {
  border: 1px solid #fff;
  border-bottom: none;
  border-top: none;
  flex-basis: 60%;
  padding: 0 1rem;
}

.precio-plato-carta {
  display: flex;
  flex-basis: 15%;
  justify-content: center;
  font-weight: bold;
}
.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #008c45;
  color: #ffffff;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #CD212A;
}

.floating-button:hover {
  background-color: #44e080;
}

@media (max-width:680px){
    .column-2.carta{
      grid-template-columns: repeat(1,1fr);
    }
  }