<header class="site-header">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a routerLink="/menu" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <span class="ml-3 text-xl">La Fonda del Bicho</span>
        </a>
        <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
            <a routerLink="/employees" class="nav-link">Empleados</a>
            <a routerLink="/menu" class="nav-link">Menú</a>
            <a routerLink="/commands" class="nav-link">Órdenes</a>
            <a routerLink="/tables" class="nav-link">Mesas</a>
        </nav>
        <button (click)="logout()" class="logout-button">Cerrar Sesión</button>
    </div>
</header>

<body>
  <div class="floating-button" (click)="addProduct()">+</div>
  <section class="wrap">
    <div class="wrap-title-section"><!-- Area Bebidas -->
      <h2>Bebidas</h2>
    </div>
    <div class="wrap column-2 carta">
      <div *ngFor="let bebida of getBebidas()" class="plato-carta">
        <div class="img-plato-carta">
          <img src="https://cdn.forbes.com.mx/2023/05/dia-hamburguesa-e1684977814759.webp" alt="">
        </div>
        <div class="title-plato-carta">
          <h4>{{bebida.saucer_name}}</h4>
          <p>{{bebida.description}}</p>
        </div>
        <div class="precio-plato-carta">
          <span>${{bebida.price}}</span>
        </div>
      </div> 
    </div>
    <div class="wrap-title-section"><!-- Area Pizzas -->
      <h2>Pizzas</h2>
    </div>
    <div class="wrap column-2 carta">
      <div *ngFor="let bebida of getPizzas()" class="plato-carta">
        <div class="img-plato-carta">
          <img src="https://cdn.forbes.com.mx/2023/05/dia-hamburguesa-e1684977814759.webp" alt="">
        </div>
        <div class="title-plato-carta">
          <h4>{{bebida.saucer_name}}</h4>
          <p>{{bebida.description}}</p>
        </div>
        <div class="precio-plato-carta">
          <span>${{bebida.price}}</span>
        </div>
      </div> 
    </div> 
    <div class="wrap-title-section"><!-- Area Pastas -->
      <h2>Pastas</h2>
    </div>
    <div class="wrap column-2 carta">
      <div *ngFor="let bebida of getPastas()" class="plato-carta">
        <div class="img-plato-carta">
          <img src="https://cdn.forbes.com.mx/2023/05/dia-hamburguesa-e1684977814759.webp" alt="">
        </div>
        <div class="title-plato-carta">
          <h4>{{bebida.saucer_name}}</h4>
          <p>{{bebida.description}}</p>
        </div>
        <div class="precio-plato-carta">
          <span>${{bebida.price}}</span>
        </div>
      </div> 
    </div>
  </section>
  </body>

<footer class="text-gray-600 body-font">
    <div class="container px-5 py-8 mx-auto flex items-center sm:flex-col flex-col">
        <a class="flex title-font-footer font-medium items-center md:justify-start justify-center text-gray-900">
            <span class="ml-3 text-xl">2024 La Fonda del Bicho</span>
        </a>
        <p style="margin-left: 10px;" class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4 sm:text-center"> - © Todos los derechos reservados - 
        </p>
        <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
        </span>
    </div>
</footer>