<section class="modal">
  <div class="modal-header">
      <button (click)="onClose()" class="close-button">
          X
      </button>
  </div>

  <div class="modal-content">
      <div class="input-group">
          <label for="userName">No. de orden:</label>
          <input id="No_Orden" type="number" class="modal-input" [(ngModel)]="No_Orden" placeholder="No_Orden" required>
      </div>              

      <div class="input-group">
          <label for="Mesa">Mesa:</label>
          <input id="Mesa" class="modal-input" [(ngModel)]="Mesa" placeholder="Mesa" required>
      </div>

      <div class="input-group">
          <label for="Mesero">Mesero:</label>
          <input id="Mesero" class="modal-input" [(ngModel)]="Mesero" placeholder="Mesero" required>
      </div>
      

      <div class="input-group">
          <label for="wShift">Turno:</label>
          <select id="wShift" class="modal-input" [(ngModel)]="wShift" required>
              <option value="Matutino">Matutino</option>
              <option value="Vespertino">Vespertino</option>
              <option value="Tiempo completo">Tiempo completo</option>
          </select>
      </div>
      

      <div class="input-group">
          <label for="Status">Status:</label>
          <input id="Status" class="modal-input" [(ngModel)]="Status" placeholder="Status" required>
      </div>
 
      <div class="text-center">
          <button (click)="createOrder()" class="update-button">
              Agregar orden
          </button>
      </div>
  </div>
</section>